services:
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    hostname: homeos-vps
    restart: unless-stopped
    privileged: true
    environment:
      - TS_OAUTH_ID=${TS_OAUTH_ID}
      - TS_AUTHKEY=${TS_OAUTH_SECRET}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_EXTRA_ARGS=--advertise-tags=tag:server-home --accept-routes
      - TS_USERSPACE=false
      - TS_ACCEPT_DNS=false
    volumes:
      - ./tailscale/state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    network_mode: host

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    restart: unless-stopped
    network_mode: host
    depends_on:
      - tailscale

    volumes:
      - ./homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=${TZ}
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true
      - TZ=${TZ}
    command: --interval 86400
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
